@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Cabin", "Times New Roman", Times, sans-serif;
  color: #2f2f2f;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(18, 140, 164, 0.119);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(26, 142, 192, 0.2);
}

.main-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../public/logo.jpeg);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20vh;
  min-width: 250px;
  margin: 0 auto;
}

.brand-name {
  text-align: center;
  margin: 0;
  font-size: 2vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: normal;
  color: white;
}

.brand-name-large {
  font-size: 7vw;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(123, 16, 150);
  text-align: center;
  font-size: 2.5em;
}

.modal-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
  font-size: 1.1em;
}

.about-brand-image {
  float: left;
  width: 50%;
  margin: 15px;
  border-radius: 15%;
}

.main-footer {
  background-color: rgb(0, 100, 139);
  color: white;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 35px;
  height: 35px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a {
  color: white;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
  color: white;
  background-color: rgb(136, 15, 163);
}

.btn-modal {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
  color: white;
  background-color: rgb(104, 0, 139);
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  display: block;
  margin: 30px auto;
  color: white;
  border: 2px solid #f6f6f6;
  background-color: rgba(158, 17, 229, 0.2);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn:hover {
  color: white;
  background-color: rgba(165, 15, 147, 0.678);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex: 1 1 0px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  /* display: flex;
  flex: 1 0 21%;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 33%;
  align-items: center; */
}

.flex-modal {
  display: flex;
  flex: 1 1 0px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.box {
  overflow: hidden;
  padding: 2px 16px;
}

.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 90%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 118, 139, 0.678);
  padding: 16px;
  left: 10%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  min-width: 800px;
  max-width: 1200px;
}

@media (min-width: 600px) {
  .Modal {
    width: 1000px;
    left: calc(50% - 500px);
  }
}
